body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
  font-size: 2em;
  line-height: calc(1ex / 0.42);
  margin: calc(1ex / 0.42) 0;
}

article {
  line-height: calc(1ex / 0.32);
  display: flex;
  flex-direction: column;
  align-items: center;
}


article p {
  width: 120ch;
  max-width: 100%;
  text-align: justify;
  hyphens: auto;
  font-size: 1.5em;
  line-height: calc(1ex / 0.32);
  margin: calc(1ex / 0.32) 0;
}

p {
  font-size: 1.2em;
  line-height: calc(1ex / 0.32);
  margin: calc(1ex / 0.32) 0;
}